/* updated to complete PS5
* Ruiyang Chang (ruiyangc)
* 02/22/2021
*/

body {
    max-width: 1200px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 60px;
    background-image: linear-gradient(#ffe6cc, #ebf0fa);
    font-family: "Georgia", serif;
    line-height: 1.6;
}

.dark-mode {
    background-image: linear-gradient(#1a1a1a, #333333);
    background-color: #1a1a1a;
    color: #ffcc66;
}

#dark-mode-bar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#dark-mode-text {
    margin-right: 10px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 58px;
    height: 32px;
  }

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cccccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color:  #ffcc66;
}
  
input:focus + .slider {
box-shadow: 0 0 1px #ffcc66;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

#logo {
    margin: auto;
}

/* Glow text */
.glow {
    font-size: 16px;
    color: #193366;
    font-weight: bold;
    animation: glow 1s ease-in-out infinite alternate;
}
  
@keyframes glow {
from {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px white, 0 0 4px white, 0 0 5px white, 0 0 6px white, 0 0 7px white;
}
to {
    text-shadow: 0 0 2px #fff, 0 0 3px gold, 0 0 4px gold, 0 0 5px gold, 0 0 6px gold, 0 0 7px gold, 0 0 8px gold;
}
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-image: linear-gradient(to right, #2952a3, #ff944d);
    color: white;
    cursor: pointer;
    padding: 12px;
    margin-top: 40px;
    width: 100%;
    border: none;
    font-family: "Georgia", serif;
    text-align: left;
    outline: none;
    font-size: 18px;
}
  
.collapsible:after {
    content: "+";
    font-size: 18px;
    color: white;
    float: right;
    margin-left: 5px;
}

.collapsible.active:after {
    content: "-";
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #24478f;
}

/* Style the collapsible content. Note: hidden by default */
.requirements {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    color: white;
    background-color: #808080;
  }

/* 
* Image Caroousael 
*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin-top: 20px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover {
  background-color: #2952a3;
}
.next:hover {
    background-color: #ff944d;
  }

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 24px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: gold;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: goldenrod;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.gallary {
    padding: 0 18px;
    display: none;
    overflow: hidden;
  }

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* PS5 */
#ps5 {
  text-align: center;
  margin-bottom: 360px;
}
#countdown {
  font-size: 72px;
  color: #2952a3;
  margin: auto;
}
#currentTime {
  font-size: 24px;
  color: #2952a3;
  margin: auto;
}
